html {
  color: white;
  /* https://uigradients.com/#ShadowNight */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body * {
  /* border: 1px solid white; */
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;    
  user-select: none; 
}

.hide {
  display: none;
}

.center-text {
  text-align: center;
}

#blue {
  fill: #1D83FF;
}

#red {
  fill: #F51147;
}

#green {
  fill: #11FF29;
}

#yellow {
  fill: #FFDA4D;
}        

.opaque {
  fill-opacity: 1;
}  

.transparent {
  fill-opacity: 0;
}

.color-btn {
  fill-opacity: 0.25;
}

.clickable {
  border: 4px solid lightgrey;
}

#strict-btn {
  stroke-width: 3; 
  stroke: #ffffff;      
  fill: #ffffff;
}  

#audio-control {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}

#fullscreen {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 6px;
  top: 6px;
  z-index: 100;
}

#game-title, #how-to-play-img, #messages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shredder-logo { 
  width: 100%;
  margin: auto;
  fill: #d12d2b;
  fill-opacity: 0;
  stroke:#ffffff;      
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: 1000;
  stroke-opacity: 0;
  position: relative;
  padding-top: 75px;
}

.simon {
  font-family: 'Play', sans-serif;
  font-weight: bold;
}

.metal {
  font-family: 'New Rocker', cursive;
}

#how-to-play-wrapper {
  text-align: center;
}
#how-to-play-btn {
  position: relative;
  z-index: 100;      
  color: white;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

#how-to-play-img {
  z-index: 110;
  max-width: 500px;
  width: 100vw; 
}

#play-game-pick svg{
  width: 125px;
}

#pick {
  fill: #d12d2b;
}

#by-line {
  color: white;
  opacity: 0;
}

#game-main {
  display: none;
  opacity: 0;
}
#play-area {
  height: 95vh;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

#play-area svg{
  display: block;
  margin: 0 auto;
  height: 95vh;
}

#strict-btn:hover, 
.color-btn:hover, 
#start-btn:hover, 
#play-game-pick svg:hover,
#audio-control:hover,
#fullscreen:hover,
.color:hover  {
  cursor: pointer;
}

#messages {
  z-index: 100;
  background: black;
  width: 280px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 2.25em;
  color: white;
  text-align: center
}